<a href="https://colab.research.google.com/github/mchllmndz/CPEN-21A-ECE-2-1/blob/main/Demo01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python

In [ ]:
#Phyton Indention
if 5>2: 
  print ("five is greater than two")

Five is greater than two

#Python Variable

In [ ]:
x=1
a,b=0,1
a,b,c="zero","one","two"
print (x)
print (a)
print (b)
print (c)

1

zero

one

two

In [ ]:
d="Sally" #This is = string
D="Ana"
print (d)
e="John"
print (e)
print (D)

Sally

John

Ana

In [ ]:
print (type(d)) #This is Type function
print (type(x))

<class 'str'>

<class 'int'>

#Casting

In [13]:

In [ ]:
f = float (4)
print (f)
g = int (5)
print (g)

4.0

5

#Multiple Variables with One Value

In [21]:

In [ ]:
x=y=z="four"
print (x)
print (y)
print (z)

four

four

four

In [ ]:
In [22]:

In [ ]:
x="enjoying"
print ("Python Programming is " " ") + x)

Pyhton Programming is enjoying

#Operation in Python

In [46]

In [ ]:
x=5
y=7
print (x+y)
print (x*y)
print (x)

12

35

5